.content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.formGroupWithSmallImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formGroupWithBigImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.smallImgSection{
    display: flex;
    flex-wrap: wrap;
}

.bigImgSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inputImg{
    margin-right: 20px !important;
}

.img{
    cursor: pointer;
}