#fade-menu{
    padding: 0px !important;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 0px 10px;
}

.header-menu h4{
    margin: 0;
}

.notification-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px !important;
}


.notification-footer{
    background-color: #fff !important;
}

.notification-footer-button{
    color: #8a05be !important;
}