.article-stats label, .article-stats input{
    color: #000 !important; 
}

.stats-blocks{
    margin: 20px;
}

.stats-blocks > :nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

@media(max-width: 768px){
    .stats-blocks{
        padding: 5px;
    }
}