.container{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh;
}

body{
    margin-top: 0;
}

.modal{
    width: 350px;
}

.modalTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #CCC; 
    min-height: 100px;
}

.modalTitle h2{
    margin: 0px;
}

.titleText{
    font-size: 1.3rem;

}

.modalForm{
    margin: 15px 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 25px;
}

.button-area{
    padding: 25px;
}

.modalFormInput{
    margin: 20px 0px !important;
}

.fakeLink{
    padding: 10px;
    color: #1469B9;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

@media(max-width: 768px){
    .modal{
        width: 100;
    }
}