.form-comment{
    margin-bottom: 15px;
}

.form-footer-left{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-footer-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

@media(max-width: 768px){
    .form-footer-left{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    
    .form-footer-right{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}