.form-comment{
    margin-bottom: 15px;
}
.form-input input, .form-input textarea{
    color: #000 !important;
}

.form-input label {
    font-weight: 700;
}

.form-footer-left{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-hud-options{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.form-footer-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

@media(max-width: 768px){
    .form-footer-left{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    
    .form-hud-options{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .form-footer-right{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

}