.form{
    padding: 25px;
}

.formInput{
    margin-right: 30px !important;
    margin-bottom: 15px !important;
    min-width: 125px !important;
}

.formGroup{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 0px 10px !important;
}

.formGroupBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 0px 10px !important;
}

.disabled-text-field{
    color: #000 !important;
}

.min-width-300{
    min-width: 300px !important;
}

.separator{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.helperText{
    font-size: 0.7rem;
}

@media(max-width: 690px){
    .formInput{
        margin-bottom: 30px !important;
        width: 100% !important;
    }
}