.stats-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stats-block{
    height: 170px;
    margin: 5px;
    padding: 25px 15px;
}

.stats-block h4{
    margin: 0;
}

.stats-block-title-icon{
    color: #f50057;
    margin: 0 5px;
}

.stats-block-description{
    font-size: 0.8rem;

}
.stats-block-information{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #f50057;
    padding: 5px 15px;

}
.stats-block-generated-at{
    font-size: 0.8rem;
}