.config-container{
    padding: 15px;
}

.config-bar-actions{
    margin-top: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}