@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(220, 220, 220, .8);
  margin-top: 50px;
  padding: 15px;
}

div, input, button, label, p, li, table, td, th{
  font-family: 'Quicksand', sans-serif !important;
}

th{
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.page{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


