@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Offside&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(220, 220, 220, .8);
}

#component{
  padding: 20px;
}

label.Mui-focused{
  color: #8a05be !important;
}

.Mui-focused fieldset{
  border-color: #8a05be !important;
}

.MuiInput-underline:after{
  border-bottom-color: #8a05be !important;
}

.loading-app-area{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.coder-mind{
  font-family: 'Offside', cursive !important;
  font-size: 10rem;
  color: #8a05be;
  margin: 0;
  text-align: center;
}

.gestao{
  font-family: 'Dancing Script', cursive;

  color: #8a05be;
  font-size: 7rem;
  margin: 0;
}

div, input, button, label, p, li, table, td, th{
  font-family: 'Quicksand', sans-serif !important;
}

th{
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.page{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@media(max-width: 768px){
  body{
    padding: 0;
  }

  .page{
    padding: 0 !important;
  }
}